# This file is used for Git repositories to specify intentionally untracked files that Git should ignore.
# If you are not using git, you can delete this file. For more information see: https://git-scm.com/docs/gitignore
# For useful gitignore templates see: https://github.com/github/gitignore

# CCI
.cci
/src.orig
/src

# Python
*.pyc
__pycache__

# Robot Framework results
robot/obieforce/results/

# Salesforce cache
.sf/
.sfdx/
.localdevserver/
deploy-options.json

# LWC VSCode autocomplete
jsconfig.json

# LWC Jest coverage reports
coverage/

# Logs
logs
*.log

# Dependency directories
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log

# Editors
*.sublime-project
*.sublime-workspace
.vscode
.idea
.project
.settings
.cursorrules

# Eslint cache
.eslintcache

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Local environment variables
.env
# UTAM
pageObjects
utam-lint.sarif

# Python Salesforce Functions
**/__pycache__/
**/.venv/
**/venv/

# Misc
manifest
*.code-workspace
config/user
hardis-report
scripts/**/binary_cache
scripts/**/target
scripts/**/reports
**/MissingParentRecordsReport.csv
source_records_cache
.pmdCache
disassemble.log
.cursorindexingignore
.cursorignore
.cursor
tasks.json
tasks/
*claude*
tmp

# Environment variables

# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
